<link rel="stylesheet" type="text/css" href="/css/styles.css">
<link rel="stylesheet" type="text/css" href="/css/bootstrap/bootstrap.min.css">
<script type="text/javascript" src="/css/bootstrap/bootstrap.js.map"></script>

<footer class="navbar navbar-expand-lg navbar-dark bg-primary fixed-bottom">
    <div class="container-fluid">
        <p class="col-md-4 mb-0 text-light">&copy; 2025 Sklep Internetowy, Inc</p>
    </div>
</footer>
